app = "devops-ml-service"
primary_region = "lax"

[build]
  builder = "paketobuildpacks/builder:base"
  buildpacks = ["gcr.io/paketo-buildpacks/python"]

[build.args]
  PYTHON_VERSION = "3.11"

[env]
  PORT = "8080"

[processes]
  app = "python main.py"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256

[mounts]
  source = "devops_ml_data"
  destination = "/data"