# fly.toml app configuration file for devops-ml-service
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'devops-ml-service'
primary_region = 'lax'

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = '8000'
  REDIS_URL = 'redis://your-redis-instance-url'

[[mounts]]
  source = 'devops_ml_data'
  destination = '/data'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
