# fly.toml app configuration file generated for devops-ml-service on 2026-01-09T03:01:47-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'devops-ml-service'
primary_region = 'lax'

[build]

[env]
  PORT = '8080'

[processes]
  app = 'python main.py'

[[mounts]]
  source = 'devops_ml_data'
  destination = '/data'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
