app = "devops-server"
primary_region = "lax"

[build]
  builder = "paketobuildpacks/builder:base"
  buildpacks = ["gcr.io/paketo-buildpacks/nodejs"]

[build.args]
  NODE_ENV = "production"

[env]
  PORT = "8080"
  NODE_ENV = "production"

[processes]
  app = "npm run build && npm start"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256

[mounts]
  source = "devops_server_data"
  destination = "/data"